

.forms{display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  
  gap:20px;
  padding-top:8%;
  
}


    .container{border: 0.2rem solid black; background-color: #f5f5ee ;border: radius 15rem; padding: 1px; box-shadow: 1rem 1rem 1rem aliceblue; gap: 0.3rem; display: flexbox; width: 60%;}
.btn{border: 2px solid blue; margin:auto;}
.form_header{background-color: aliceblue; color: black; text-align: center;}
